<template name="dashboard">
	  <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-book"></i> Dashboard</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          
		  
		  <div class="row" style="margin-bottom:10px;">
		<div class="col-md-12">
		  
		  <a href="#" class="btn btn-block btn-primary btn-lg" id="tocon2">Dashboard</a>
		  
		  </div><!-- /.col -->
		 </div>
		 
		 
		  
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</template>
