<template name="index">

	{{> basic}}
	
	Pick a device to track :)
	
	<br><br><br>
	
	
	

</template>



<!--
<template name="hello">
  
	<ul>
      {{#each positiondata}}
        {{> position}}
      {{/each}}
    </ul>
	
</template>
-->






<template name="basic">
<button id="mybutton">Click Me</button>
  
 <br><br>
  <ul>
  <li><a href="/device/352500056545851">Turbo-X</a></li>
  <li><a href="/device/355673069168537">LG G3</a></li>
  <li><a href="/device/867811023613054">BOB</a></li>
  <li><a href="/device/666">Demon</a></li>
  <li><a href="/">Arxiki</a></li>
  </ul>
</template>



