<template name="tenor">
	  <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Tenor
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-book"></i> Tenor</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          
		  
		  
		  <div class="row">
		  <div class="col-md-12">
			
			
			<!--	
			<div class="box collapsed-box">
                <div class="box-header">
                  <h3 class="box-title"><b>TENOR</b></h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
					</div>			
				</div>
                <div class="box-body">
				
				
				
                </div>			
              </div>
			  -->
			  
			  
			  <iframe id="tenor" style="width:100%;height:850px;" src="http://10.100.96.10:9000/"></iframe>
			  
              </div><!-- /.col -->		  	  
			</div><!-- /.row -->
			
			
			
		
					
		  
		  
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</template>
